In [34]:
import pandas as pd

In [35]:
num_turistas_segun_acceso= pd.read_csv('larioja.org/Turismo/Encuestas turísticas/Estadística de Movimientos Turísticos en Fronteras para La Rioja/1-Número de turistas según via de acceso principal.csv')
num_turistas_segun_alojamiento_principal= pd.read_csv('larioja.org/Turismo/Encuestas turísticas/Estadística de Movimientos Turísticos en Fronteras para La Rioja/2-Número de turistas según alojamiento principal.csv')
num_turistas_motivo= pd.read_csv('larioja.org/Turismo/Encuestas turísticas/Estadística de Movimientos Turísticos en Fronteras para La Rioja/3-Número de turistas según motivo principal del viaje.csv')
num_turistas_segun_pais= pd.read_csv('larioja.org/Turismo/Encuestas turísticas/Estadística de Movimientos Turísticos en Fronteras para La Rioja/4-Número de turistas según país de residencia.csv')
num_turistas_segun_organizacion= pd.read_csv('larioja.org/Turismo/Encuestas turísticas/Estadística de Movimientos Turísticos en Fronteras para La Rioja/5-Número de turistas según organización del viaje.csv')
num_turistas_segun_duracion= pd.read_csv('larioja.org/Turismo/Encuestas turísticas/Estadística de Movimientos Turísticos en Fronteras para La Rioja/6-Número de turistas según duración del viaje.csv')
print(f'{num_turistas_segun_acceso.info()},------------------------------->>>')
print(f'{num_turistas_segun_alojamiento_principal.info()},------------------------------->>>')
print(f'{num_turistas_motivo.info()},------------------------------->>>')
print(f'{num_turistas_segun_pais.info()},------------------------------->>>')
print(f'{num_turistas_segun_organizacion.info()},------------------------------->>>')
print(f'{num_turistas_segun_duracion.info()},------------------------------->>>')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Via de acceso  24 non-null     object
 1   Periodo        24 non-null     int64
 2   DATA           24 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 708.0+ bytes
None,------------------------------->>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Tipo de alojamiento  24 non-null     object
 1   Periodo              24 non-null     int64
 2   DATA                 24 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 708.0+ bytes
None,------------------------------->>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Motivo del viaje  32 non-null     object
 1   Periodo           32 non-null     int64
 2   DATA              32 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 900.0+ bytes
None,------------------------------->>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   País de residencia  40 non-null     object
 1   Periodo             40 non-null     int64
 2   DATA                40 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ KB
None,------------------------------->>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Forma de organización del viaje  24 non-null     object
 1   Periodo                          24 non-null     int64
 2   DATA                             24 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 708.0+ bytes
None,------------------------------->>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Duración del viaje  24 non-null     object
 1   Periodo             24 non-null     int64
 2   DATA                24 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 708.0+ bytes
None,------------------------------->>>

In [36]:
# Añadir columna que identifica la categoría en cada dataframe
num_turistas_segun_acceso['Categoria'] = 'Via de acceso'
num_turistas_segun_alojamiento_principal['Categoria'] = 'Tipo de alojamiento'
num_turistas_motivo['Categoria'] = 'Motivo del viaje'
num_turistas_segun_pais['Categoria'] = 'País de residencia'
num_turistas_segun_organizacion['Categoria'] = 'Forma de organización'
num_turistas_segun_duracion['Categoria'] = 'Duración del viaje'

# Renombrar las columnas "DATA" y otras columnas para que sean consistentes en todos los dataframes
num_turistas_segun_acceso.rename(columns={'DATA': 'Numero de Turistas', 'Via de acceso': 'Subcategoria'}, inplace=True)
num_turistas_segun_alojamiento_principal.rename(columns={'DATA': 'Numero de Turistas', 'Tipo de alojamiento': 'Subcategoria'}, inplace=True)
num_turistas_motivo.rename(columns={'DATA': 'Numero de Turistas', 'Motivo del viaje': 'Subcategoria'}, inplace=True)
num_turistas_segun_pais.rename(columns={'DATA': 'Numero de Turistas', 'País de residencia': 'Subcategoria'}, inplace=True)
num_turistas_segun_organizacion.rename(columns={'DATA': 'Numero de Turistas', 'Forma de organización del viaje': 'Subcategoria'}, inplace=True)
num_turistas_segun_duracion.rename(columns={'DATA': 'Numero de Turistas', 'Duración del viaje': 'Subcategoria'}, inplace=True)

# Concatenar todos los dataframes
df_combinado = pd.concat([num_turistas_segun_acceso, 
                          num_turistas_segun_alojamiento_principal, 
                          num_turistas_motivo, 
                          num_turistas_segun_pais, 
                          num_turistas_segun_organizacion, 
                          num_turistas_segun_duracion], 
                         axis=0, ignore_index=True)

# Verificar el DataFrame combinado
print(df_combinado.head())
print(df_combinado.info())

  Subcategoria  Periodo  Numero de Turistas      Categoria
0        TOTAL     2016            150778.8  Via de acceso
1        TOTAL     2017            124188.8  Via de acceso
2        TOTAL     2018            142926.4  Via de acceso
3        TOTAL     2019            139497.3  Via de acceso
4        TOTAL     2020             45355.2  Via de acceso
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Subcategoria        168 non-null    object
 1   Periodo             168 non-null    int64
 2   Numero de Turistas  168 non-null    float64
 3   Categoria           168 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 5.4+ KB
None

In [37]:
df_combinado['Fecha'] = pd.to_datetime(df_combinado['Periodo'].astype(str), format='%Y')

# Ahora 'Fecha' tendrá el tipo datetime con solo el año
print(df_combinado.head())
print(df_combinado.info())

  Subcategoria  Periodo  Numero de Turistas      Categoria      Fecha
0        TOTAL     2016            150778.8  Via de acceso 2016-01-01
1        TOTAL     2017            124188.8  Via de acceso 2017-01-01
2        TOTAL     2018            142926.4  Via de acceso 2018-01-01
3        TOTAL     2019            139497.3  Via de acceso 2019-01-01
4        TOTAL     2020             45355.2  Via de acceso 2020-01-01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Subcategoria        168 non-null    object
 1   Periodo             168 non-null    int64
 2   Numero de Turistas  168 non-null    float64
 3   Categoria           168 non-null    object
 4   Fecha               168 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 6.7+ KB
None

In [38]:
# Exportar el DataFrame combinado
# df_combinado.to_csv('df_combinado.csv', index=False)

In [39]:
# Cargar los datos de gasto en dataframes
gasto_via_acceso = pd.read_csv("larioja.org/Turismo/Encuestas turísticas/Encuesta de Gasto Turístico en La Rioja/1-Gasto de los turistas internacionales según via de acceso principal.csv")
gasto_alojamiento_principal = pd.read_csv("larioja.org/Turismo/Encuestas turísticas/Encuesta de Gasto Turístico en La Rioja/2-Gasto de los turistas internacionales según alojamiento principal.csv")
gasto_motivo_viaje = pd.read_csv("larioja.org/Turismo/Encuestas turísticas/Encuesta de Gasto Turístico en La Rioja/3-Gasto de los turistas internacionales según motivo principal del viaje.csv")
gasto_pais_residencia = pd.read_csv("larioja.org/Turismo/Encuestas turísticas/Encuesta de Gasto Turístico en La Rioja/4-Gasto de los turistas internacionales según país de residencia.csv")
gasto_organizacion_viaje = pd.read_csv("larioja.org/Turismo/Encuestas turísticas/Encuesta de Gasto Turístico en La Rioja/5-Gasto de los turistas internacionales según forma organización del viaje.csv")
gasto_duracion_viaje = pd.read_csv("larioja.org/Turismo/Encuestas turísticas/Encuesta de Gasto Turístico en La Rioja/6-Gasto de los turistas internacionales según duración del viaje.csv")
gasto_partidas = pd.read_csv("larioja.org/Turismo/Encuestas turísticas/Encuesta de Gasto Turístico en La Rioja/7-Gasto de los turistas internacionales según partidas de gasto.csv")

# Añadir columna que identifica la categoría en cada dataframe
gasto_via_acceso['Categoria'] = 'Via de acceso'
gasto_alojamiento_principal['Categoria'] = 'Tipo de alojamiento'
gasto_motivo_viaje['Categoria'] = 'Motivo del viaje'
gasto_pais_residencia['Categoria'] = 'País de residencia'
gasto_organizacion_viaje['Categoria'] = 'Forma de organización'
gasto_duracion_viaje['Categoria'] = 'Duración del viaje'
gasto_partidas['Categoria'] = 'Partidas de gasto'

# Renombrar las columnas "DATA" a "Gastos" y otras columnas para que sean consistentes en todos los dataframes
gasto_via_acceso.rename(columns={'DATA': 'Gastos/Estancia', 'Via de acceso': 'Subcategoria'}, inplace=True)
gasto_alojamiento_principal.rename(columns={'DATA': 'Gastos/Estancia', 'Tipo de alojamiento': 'Subcategoria'}, inplace=True)
gasto_motivo_viaje.rename(columns={'DATA': 'Gastos/Estancia', 'Motivo del viaje': 'Subcategoria'}, inplace=True)
gasto_pais_residencia.rename(columns={'DATA': 'Gastos/Estancia', 'País de residencia': 'Subcategoria'}, inplace=True)
gasto_organizacion_viaje.rename(columns={'DATA': 'Gastos/Estancia', 'Forma de organización del viaje': 'Subcategoria'}, inplace=True)
gasto_duracion_viaje.rename(columns={'DATA': 'Gastos/Estancia', 'Duración del viaje': 'Subcategoria'}, inplace=True)
gasto_partidas.rename(columns={'DATA': 'Gastos/Estancia', 'Partidas de gasto': 'Subcategoria'}, inplace=True)

# Concatenar todos los dataframes de gasto
df_combinado_gasto = pd.concat([gasto_via_acceso, 
                                gasto_alojamiento_principal, 
                                gasto_motivo_viaje, 
                                gasto_pais_residencia, 
                                gasto_organizacion_viaje, 
                                gasto_duracion_viaje, 
                                gasto_partidas], 
                               axis=0, ignore_index=True)

# Convertir la columna 'Periodo' a formato fecha, manteniendo solo el año
df_combinado_gasto['Fecha'] = pd.to_datetime(df_combinado_gasto['Periodo'].astype(str), format='%Y')

# Verificar el DataFrame combinado de gasto
print(df_combinado_gasto.head())
print(df_combinado_gasto.info())

  Subcategoria    Indicador  Periodo  Gastos/Estancia      Categoria  \
0        TOTAL  Gasto total     2016         93087.88  Via de acceso
1        TOTAL  Gasto total     2017        101962.17  Via de acceso
2        TOTAL  Gasto total     2018        101126.50  Via de acceso
3        TOTAL  Gasto total     2019         98201.73  Via de acceso
4        TOTAL  Gasto total     2020         21835.28  Via de acceso

  Tipo de gasto      Fecha
0           NaN 2016-01-01
1           NaN 2017-01-01
2           NaN 2018-01-01
3           NaN 2019-01-01
4           NaN 2020-01-01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Subcategoria     672 non-null    object
 1   Indicador        672 non-null    object
 2   Periodo          712 non-null    int64
 3   Gastos/Estancia  708 non-null    float64
 4   Categoria        712 non-null    object
 5   Tipo de gasto    40 non-null     object
 6   Fecha            712 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 39.1+ KB
None

In [44]:
df_combinado_gasto.head()

,Subcategoria,Indicador,Periodo,Gastos/Estancia,Categoria,Tipo de gasto,Fecha
0,TOTAL,Gasto total,2016,93087.88,Via de acceso,No disponible,2016-01-01
1,TOTAL,Gasto total,2017,101962.17,Via de acceso,No disponible,2017-01-01
2,TOTAL,Gasto total,2018,101126.5,Via de acceso,No disponible,2018-01-01
3,TOTAL,Gasto total,2019,98201.73,Via de acceso,No disponible,2019-01-01
4,TOTAL,Gasto total,2020,21835.28,Via de acceso,No disponible,2020-01-01

In [43]:
# Cambiar todos los valores NaN a 'No disponible'
df_combinado_gasto = df_combinado_gasto.fillna('No disponible')

print(df_combinado_gasto.head())
print(df_combinado_gasto.info())

  Subcategoria    Indicador  Periodo Gastos/Estancia      Categoria  \
0        TOTAL  Gasto total     2016        93087.88  Via de acceso
1        TOTAL  Gasto total     2017       101962.17  Via de acceso
2        TOTAL  Gasto total     2018        101126.5  Via de acceso
3        TOTAL  Gasto total     2019        98201.73  Via de acceso
4        TOTAL  Gasto total     2020        21835.28  Via de acceso

   Tipo de gasto      Fecha
0  No disponible 2016-01-01
1  No disponible 2017-01-01
2  No disponible 2018-01-01
3  No disponible 2019-01-01
4  No disponible 2020-01-01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Subcategoria     712 non-null    object
 1   Indicador        712 non-null    object
 2   Periodo          712 non-null    int64
 3   Gastos/Estancia  712 non-null    object
 4   Categoria        712 non-null    object
 5   Tipo de gasto    712 non-null    object
 6   Fecha            712 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 39.1+ KB
None

In [50]:
filtrado = df_combinado_gasto[df_combinado_gasto['Gastos/Estancia'] == 'No disponible']

# Mostrar las filas filtradas
print(filtrado)

              Subcategoria                       Indicador  Periodo  \
516  Con paquete turístico                     Gasto total     2020
524  Con paquete turístico         Gasto medio por persona     2020
532  Con paquete turístico  Gasto medio diario por persona     2020
540  Con paquete turístico    Duración media de los viajes     2020

    Gastos/Estancia              Categoria  Tipo de gasto      Fecha
516   No disponible  Forma de organización  No disponible 2020-01-01
524   No disponible  Forma de organización  No disponible 2020-01-01
532   No disponible  Forma de organización  No disponible 2020-01-01
540   No disponible  Forma de organización  No disponible 2020-01-01

In [45]:

# df_combinado_gasto.to_csv('df_combinado_gasto.csv', index=False)